html {
  height: 100%;
}

body.vr {
  background: #7ab6fb;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

#themap, #themapvr {
  width: 300%;
  height: 200%;
  margin-top: -50vh;
  margin-left: -50vw;
}
.halfpage {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.halfpage.left {
  float: left;
}
.halfpage.right {
  float: right;
}
