# Put in /etc/systemd/system/dragonhack2018.service

[Unit]
Description=Gunicorn instance to serve dragonhack project 2018
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/web/Dragonhack-2018/server/
Environment="PATH=/home/web/Dragonhack-2018/server/venv/bin"
ExecStart=/home/web/Dragonhack-2018/server/venv/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 server.wsgi

[Install]
WantedBy=multi-user.target
