<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Around the World in 80 s - VR</title>

    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/vr.css">

    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
    <script src="/static/L.Map.Sync.js"></script>
  </head>
  <body class="vr">
    <div class="halfpage left">
        <div class="vrmap" id="themap">

        </div>
    </div>
    <div class="halfpage right">
        <div class="vrmap" id="themapvr">

        </div>
    </div>
  </body>
</html>
